
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

/* Original values
$left-color	: rgb(230,101,135);
$left-color-hex	: #e66587;
$right-color: rgb(240,148,88);
$right-color-hex: #f09458;
$text-color		: #777777;
*/
$left-color	: rgb(101,141,230);
$left-color-hex	: #658de6;
$right-color: rgb(121,158,155);
$right-color-hex: #799e9b;

$primary-color	: #3c408f;
$secondary-color: #49e3ce;
$title-color	: #222222;
$text-color		: #333333;

$white			: #fff;
$black			: #000;



