<section class="featured-area">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="single-feature d-flex flex-wrap justify-content-between">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="lnr {{ site.feature.one-icon }}"></span>
					</div>
					<div class="desc">
						<h6 class="title text-uppercase">{{ site.feature.one-title }}</h6>
						<p>{{ site.feature.one-content }}</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="single-feature d-flex flex-wrap justify-content-between">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="lnr {{ site.feature.two-icon }}"></span>
					</div>
					<div class="desc">
						<h6 class="title text-uppercase">{{ site.feature.two-title }}</h6>
						<p>{{ site.feature.two-content }}</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="single-feature d-flex flex-wrap justify-content-between">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="lnr {{ site.feature.thr-icon }}"></span>
					</div>
					<div class="desc">
						<h6 class="title text-uppercase">{{ site.feature.thr-title }}</h6>
						<p>{{ site.feature.thr-content }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>