<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% if site.icon %} <!-- Favicon-->
	<link rel="shortcut icon" href="{{ site.icon }}"> {% endif %}
	<meta name="theme-color" content="#658de6"/>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.title }}{% for key in site.keywords %}, {{ key }}{% endfor %}">
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>{{ site.title }}</title>	
	<style>{% include abovethefoldcss %}</style>
</head>
