<section id="social" class="story-area">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="story-title text-center">
					<h3 class="text-white">Check me out more!</h3>
					<div class="button-group-area mt-40">
						<a href="https://linkedin.com/in/{{ site.linkedin_url }}" class="genric-btn default radius"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;LinkedIn </a>
					<a href="https://github.com/{{ site.github_url }}" class="genric-btn default radius"><i class="fa fa-github"></i>&nbsp;&nbsp;Github </a>
					</div>	
				</div>
			</div>
			<div class="col-lg-6">
				<div class="story-box text-center">
					<h3>In my spare time?</h6>
					<br />
					<a href="{{site.baseurl}}/personal/" class="primary-btn hover d-inline-flex align-items-center">
					<span class="mr-10">Find out more</span><span class="lnr lnr-arrow-right"></span></a>
				</div>
			</div>
		</div>
	</div>
</section>